<h1>Change password</h1>

<% form_for(@user, :url => { :action => "update_password" }) do |f| %>
<table>
    <tr>
      <td colspan="2"> <%= f.error_messages %></td>
      </tr>
    <tr>
      <td><%= f.label :email %></td>
      <td><%= f.text_field :email,{ :size => 20, :disabled => true } %></td>
    </tr>
    <tr>
      <td><%= f.label :password %></td>
      <td><input type="password" name="user[password]" id="newpass"/></td>
    </tr>
    <tr>
      <td><%= f.label :password_confirmation %></td>
      <td><input type="password" name="user[password_confirmation]" id="newpass"/></td>
    </tr>
    <tr>
      <td colspan="2"><%= f.submit 'update_password' %></td>
    </tr>
  </table>

<% end %>



