<p>
  <b>Flight:</b>
  <%=h @seat.flight_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @seat.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @seat.address %>
</p>

<p>
  <b>Contact no:</b>
  <%=h @seat.contact_no %>
</p>

<p>
  <b>Baggage:</b>
  <%=h @seat.baggage %>
</p>


<%= link_to 'Edit', edit_seat_path(@seat) %> |
<%= link_to 'Back', seats_path %>